h1 {  text-align: center;
}

body {
font-family: arial;
background-color: rgb(214, 227, 228);}
h1 {
color: rgb(22, 22, 22);}

table {
    text-align: center;
    background-color: white;
}

figure {
    text-align: center;

}
